$mobile-screen-width: 768px;
$very-wide-screen-width: 1800px;

$primary: #1c5d99;
$secondary: #639fad;
$tertiary: #bbcde5;
$white: #ffffff;
$black: #222222;
$yellow-callout: #edb92b;
$error-red: #c12c0d;
$warning-red: #d87b68;
$navbar-background: #63b2c2;
$paper-background: transparentize($white, 0.6);

$trend-up: #8ef283;
$trend-down: #f2838e;
$trend-flat: #ebce5b;
