@import "./variables";

.accountList {
	h2 {
		margin-bottom: 0.5em;
	}

	.accountListHeader {
		background-color: $secondary;
		color: $white;

		svg {
			color: $white;
		}

		.negativeBalance {
			color: #edbbbb;
		}
	}
	.accountListDetails {
		text-align: left;

		.buttons {
			display: flex;
			justify-content: center;
			margin-top: 0.5em;
		}
	}
}
