@import "./variables";

.trendUp {
	color: $trend-up;
}

.trendDown {
	color: $trend-down;
}

.trendFlat {
	color: $trend-flat;
}

.loadError {
	grid-row: 2;
	grid-column: 2;
	color: $error-red;
	display: flex;
	align-items: center;
}

.noData {
	grid-row: 2;
	grid-column: 2;
	color: $warning-red;
	display: flex;
	align-items: center;

	small {
		margin-left: 0.3em;
	}
}

.card {
	border-radius: 1em !important;
	width: 12em;
	margin: 1em;
	overflow: visible !important;

	h4 {
		font-size: 1.2em;
	}
	p {
		color: $primary;
		padding: 0.1em;
	}
	small {
		color: $secondary;
	}

	.short {
		height: 6.5em;
	}

	.medium {
		height: 11em;
	}
}

.numberCard {
	div:nth-child(1) {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: auto;
		flex-direction: column;
		align-items: center;
	}

	h4 {
		grid-column: 2;
	}
	p {
		grid-column: 2;
	}
	small {
		grid-column: 2;
	}

	svg {
		grid-column: 1;
		justify-self: end;
	}

	.spinner {
		grid-column: 2;
		grid-row: 2;
		justify-self: center;
	}
}

.nameValueCard {
	ul {
		grid-column: 2;
		overflow: scroll;
		max-height: 90%;
		color: $secondary;
	}

	.name {
		font-style: bold !important;
		color: $primary;
	}
}

.filter {
	margin: 0.5em;

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	.expanded {
		h4 {
			font-size: 1.5em;
			transition: font-size 450ms ease-out;
		}
		small {
			font-size: 0;
			opacity: 0;
			transition: opacity 450ms ease-out, font-size 300ms ease-out;
		}
	}
	.collapsed {
		h4 {
			transition: font-size 450ms ease-out;
		}
		small {
			opacity: 1;
			transition: opacity 450ms ease-in, font-size 150ms ease-in;
		}
	}

	.fields {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		& > div {
			display: flex;
			flex-direction: column;
			padding: 0.5em;
			justify-content: space-evenly;
			align-items: center;

			.marginTop {
				margin-top: 1em;
			}
		}
	}
}

.mainCardLayout {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}
