@import "./variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	display: flex;
	flex-direction: column;
	width: 100%;

	@media (min-width: 350px) {
		height: 100%;
	}
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 2em;

	background-image: url("/home_back.jpg");
	background-color: $navbar-background;
	background-attachment: fixed;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1em;

	background: rgba(255, 255, 255, 0.62);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.5px);
	-webkit-backdrop-filter: blur(7.5px);
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $navbar-background;
	padding: 0.3em;

	img {
		margin-right: 0.2em;
	}

	> div > a {
		display: flex;
		text-decoration: none;
		color: $black;
	}
}
