@import "./variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 2em;

	background-image: url("/home_back.jpg");
	background-color: $navbar-background;
	background-attachment: fixed;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}
