@import "./variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 2em;
	overflow: hidden;

	background-image: url("/home_back.jpg");
	background-color: $navbar-background;
	background-attachment: fixed;

	@media (max-width: 330px) {
		padding: 0;
	}
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1em;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	overflow: scroll;

	background: rgba(255, 255, 255, 0.62);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.5px);
	-webkit-backdrop-filter: blur(7.5px);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: $navbar-background;
	padding: 0.3em;
	vertical-align: middle;
	height: 3em;

	img {
		margin-right: 0.4em;
	}

	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $black;
	}
}

.errorMessage {
	margin-top: 0.5em;
	color: $error-red;
	font-size: 1.2rem;
}

// /--------------Material----------------------/

input {
	color: $black;
}

.MuiButton-root {
	background-color: transparentize($primary, 0.9);
	color: $primary;

	&:hover {
		background-color: transparentize($primary, 0.8);
	}
}

.MuiInputLabel-root {
	color: $black;

	&.Mui-focused {
		color: $black;
	}
}

.MuiInput-root {
	width: 14rem;
}

.MuiFormControl-root {
	margin-top: 0.5em;
	text-align: left;
}

.MuiInputLabel-shrink {
	transform: translate(15px, 0px) scale(0.75) !important;
}

.MuiFormHelperText-root {
	color: $black;
}

.MuiInput-underline:after {
	border-bottom-color: $secondary;
}

.MuiLinearProgress-root {
	color: $primary;
}
