@import "./variables";

.loadingSkeleton {
	width: 40em;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	outline: none;

	.wide {
		display: flex;
		flex-direction: column;
		width: 90vw;
		height: 80vh;
		// @media (min-width: $mobile-screen-width) {
		// 	width: 60em;
		// }
	}
}

.buttonsContainer {
	display: flex;
	justify-content: center;
	margin-top: 1em;

	button:not(:last-child) {
		margin-right: 1em;
	}
}

.buttonsContainerTight {
	display: flex;
	justify-content: center;
	margin-top: 0.5em;

	button:not(:last-child) {
		margin-right: 0.5em;
	}
}

.backButton {
	margin-top: 1em !important;
}

.formAlert {
	margin-top: 1em;
}
