@import "./variables";

.primaryButton {
	background-color: transparentize($primary, 0.4);
	font-size: 1em;
	color: $white;
	margin-top: 1em;

	&:hover {
		background-color: transparentize($primary, 0.6);
	}
}

.secondary {
	background-color: transparentize($primary, 0.8) !important;
	color: $primary !important;

	&:hover {
		background-color: transparentize($primary, 0.9) !important;
	}
}

.outlinedButton {
	background-color: transparent;
	font-size: 1em;
	color: $white;
	border: 2px solid;
	border-color: $primary;
}

.smallButton {
	background-color: transparentize($primary, 0.4);
	font-size: 1rem;
	color: $white;
	padding: 0 0.5em;
	margin: 0.2em;

	&:hover {
		background-color: transparentize($primary, 0.6);
	}
}

.loadingSkeleton {
	width: 40em;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $white;
	padding: 2em;
	text-align: center;
}
