@import "./variables";

.primaryButton {
	background-color: transparentize($primary, 0.4);
	font-size: 1em;
	color: $white;

	&:hover {
		background-color: transparentize($primary, 0.6);
	}
}

.outlinedButton {
	background-color: transparent;
	font-size: 1em;
	color: $white;
	border: 2px solid;
	border-color: $primary;
}

.loadingSkeleton {
	width: 40em;
}
