@import "./variables";

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: $navbar-background;
	padding: 0.5em 2em;
	height: 5em;

	.drawerToggle {
		color: $white;
	}

	.logo {
		position: relative;
		height: 3em;
	}

	.navLinks {
		display: none;
	}

	.userIcon {
		background-color: $white;
		height: 2em;
		width: 2em;
		padding: 0.15em;
		border-radius: 40%;
		color: $secondary;

		&:hover {
			background-color: darken($white, 10%);
			cursor: pointer;
		}

		img {
			border-radius: 40%;

			&:hover {
				filter: brightness(90%);
			}
		}
	}

	.signIn {
		color: $primary;
		background-color: $white;
		border-radius: 10%;
		padding: 0.6em;
	}

	@media (min-width: $mobile-screen-width) {
		.drawerToggle {
			display: none;
		}

		.logo {
			height: 4em;
		}

		.userIcon {
			height: 3em;
			width: 3em;
		}

		.navLinks {
			display: flex;

			.navLink {
				color: $white;
				text-decoration: none;
				padding-right: 1em;
				font-size: 1.2rem;

				&:hover {
					color: darken($white, 10%);
				}
			}
		}
	}
}

.drawer {
	.drawerHeader {
		height: 4rem;
		background-color: $navbar-background;
	}

	.navLink {
		color: $primary;
		text-decoration: none;
		padding-right: 1em;
		font-size: 1rem;

		&:hover {
			color: darken($primary, 10%);
		}
	}
}
