@import "./variables";

.navbar {
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $navbar-background;
	height: 4rem;
	padding: 0.5em 2em;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

	.avatar {
		position: relative;
		background-color: $white;
		height: 3em;
		width: 3em;
		border-radius: 40%;
		color: $secondary;

		img {
			border-radius: 40%;
			padding: 0.2em;
		}
	}

	h1 {
		font-size: 2rem;
		color: $white;
	}
}
