@import "./variables";

.upload {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 1em;
}

.newAccount {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 1em;

	h4 {
		margin-top: 1em;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.errorMessage {
	margin-top: 0.5em;
	color: $error-red;
	font-size: 1.2rem;
}

.spinner {
	display: flex;
	flex-direction: column;
	align-items: center;
	span {
		margin: 1em;
	}
}
